<div class="container">
  <div class="card">
    <div class="card-body">
      <ul class="nav nav-pills" >
        <li class="nav-item" *ngFor="let p of pages; let i=index">
          <a href="" class="nav-link " (click)="setPage(i,$event)"
             [ngClass]="{'active':i==page}"
          >{{i+1}}</a>
        </li>
      </ul>
      <table class="table-bordered table table-hover">
        <thead>
        <td>Name</td>
        <td>Type</td>
        <td>Description</td>
        <td></td>
        </thead>
        <tr *ngFor="let product of products; let index = index">
          <td (click)="populateForm(product)">{{product.name}}</td>
          <td (click)="populateForm(product)">{{product.type}}</td>
          <td (click)="populateForm(product)">{{product.descriptions}}</td>
          <td>
            <button class="btn btn-sm btn-outline-danger" (click)="onDelete(product.id)"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </table>


    </div>


  </div>
</div>

