/* You can add global styles to this file, and also import other style files */
.form-group > input {
  font-weight: bolder;
}
.form-group > label {
  font-weight: lighter;
}

button[type="submit"] {
  background-color: #67dfd4;
  color: #fff;
}
.jumbotron {
  background-color: #fff;
  padding-top: 32px;
}

table tr:hover {
  cursor: pointer;
}

input.ng-touched.ng-invalid {
  border-color: #dc3545;
}
div.validation-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.display-4 {
  background-color: red;
}
#footer-id {
   position: absolute;
  bottom: 0;
   width: 100%;
   height: 100px ;
   bottom: 0;
   background: red;
   color: white;
   padding: 1em;
   text-align: center;
}

.contact-box {
   background: #f0f0f0;
   padding: 1em;
   margin-right: 0.2em;
   color: black;
}

.contact-box:hover {
   background: darkgray;
   color: white;
}

#footer-id a {
   text-decoration: none;
   font-weight: bold;
   color: saddlebrown;
}

#footer-id a:hover {
   text-decoration: underline;
}
